.d-flex{
    display: flex;

}
.aic{
    align-items: center;
}
.checkout__body{
    background-color: #eaeded;
}
.checkout__navbar{
    background-color: #232f3e;
    color: white;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    position: sticky;
    top: 0;
    
}
.nav__items{
    font-size: 12px;
    padding: 12px 8px;
    line-height: 14px;
    font-weight: 600;
}
.checkout__ad{
    margin-bottom: 10px;
    width: 100%;
    object-fit: contain;
}
.checkout{
    padding: 20px;
    height: max-content;
    
   
}
.checkout__left{
    background-color: white;
    margin-right: 10px;
    padding: 10px;
}
.checkout__title{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 1px solid lightgray;
}
.checkout__right{
    background-color: white;
    height: max-content;
}